{% extends 'blog/base.html' %}



{% block content %}

    <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Python Articles
<!--          <small>Secondary Text</small>-->
        </h1>


        {% for post in posts %}
          <!-- Blog Post -->
          <div class="card mb-4 shadow-lg">
          {% if post.image %}
            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
          {% endif %}
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.content| safe | slice:":250" }}...</p>
              <a href="{% url 'detail' post.slug %}" class="btn btn-primary float-right">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{ post.pub_date| date:"F d, Y"}} by
              <a href="#">{{ post.author }}</a>
            </div>
          </div>

        {% endfor %}



        <!-- Pagination -->
        {% if posts.has_other_pages %}
        <ul class="pagination justify-content-center mb-4">
          {% if posts.has_previous %}
          <li class="page-item">
            <a class="page-link bg-primary border-right" href="?page={{ posts.previous_page_number }}">&larr; Newer</a>
          </li>
          {% endif %}

          {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link bg-primary" href="?page={{ posts.next_page_number }}">Older &rarr;</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}

      </div>

      <!-- Sidebar Widgets Column -->
      {% include 'blog/sidebar.html' %}

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}